<div class="container">
     <table id="branchesTable" class="table table-striped">
         <tbody>
           <tr>
             <th>name</th>
             <th>active</th>
             <th>employees</th>
             <th>Revenue</th>
             <th>Expenses</th>
             <th>district</th>
           </tr>
         </tbody>
     </table>
</div>
