<h1>Our Clients</h1>
<div class="container data-table">
 <table id="clientsTable" class="table table-striped">
    <tbody>
    <tr>
       <th colspan = "4">clients</th>
   
    </tr>
    <tr>
       <th>clientId</th>
       <th>isVIP</th>
       <th>lastVisit</th>
       <th>password</th>
    </tr>
    <tr>
       <td>20099</td>
       <td> 3</td>
       <td>20099</td>
       <td> 3</td>
    </tr>
    </tbody>
 </table></div>