
 <table id="clientsTable" >
    <tr>
       <th colspan = "4">clients</th>
   
    </tr>
    <tr>
       <th>clientId</th>
       <th>isVIP</th>
       <th>lastVisit</th>
       <th>password</th>
    </tr>
    <tr>
       <td>20099</td>
       <td> 3</td>
       <td>20099</td>
       <td> 3</td>
    </tr>

 </table>