<table id="employeesTable" >
    <tr>
       <th colspan = "7">employees</th>
   
    </tr>
    <tr>
       <th>employeeId</th>
       <th>branchNum</th>
       <th>UserName</th>
       <th>password</th>
       <th>isManager</th>
       <th>age</th>
       <th>Experience</th>

    </tr>
    <tr>
       <td>20099</td>
       <td> 3</td>
       <td>20099</td>
       <td>20099</td>
       <td> 3</td>
       <td>20099</td>

       <td>20099</td>
    </tr>

 </table>