<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>ex T3</title>
 
</head>
<body>
<h3>This is new ! ! !</h3>
    <h1>you are loged in as: 
        <% if(role){ %>
            <%= role %>
        <% }else{ %>
            visitor
        <% } %>
        
    
    </h1>
    <div id="navbar">
    <ul>
        <li><a href="">About</a></li>
        <li><a href="">Flowers</a></li>

        <li><a href="/../contact">Contact</a></li>
        
        <% if(role === "manager"){ %>
            <li><a id="branchesLink" href="">Branches</a></li>
        <% } %>
        <%if(role === "employee" | role ==="manager" ){ %>
            <li><a id="employeesLink" href="/../employees">Employees</a></li>
        <% } %>



        <% if(role){ %>
            <li><a  href="">Logout</a></li>

        <% }else{ %>
            <li><a  href="" onclick="replacePostForm();return false;">Login</a></li>

        <% } %>
        


      </ul>
    </div>

      <div id="mainContainer"></div>

      <script>
          function replacePostForm(){
              console.log("works!!");

            const name = "emp1";
            const email = "1234";

            fetch('/', {
                      method: 'POST',
                      headers: {
                    'Content-Type': 'application/json'
                    },
                      body: JSON.stringify({name:name, email:email})
                  }).then(function (response) {
                     // console.log(response);
                      return response.json();
                  }).then(function(data) {
                      if(data){
                          //sendAnotherFechToINDEX.Ejs
                          updateNavbar(data);
                      }else{
                        console.log("???????  ERROR  ????/");
                      }
                      
                  });
  
              }

          

            function updateNavbar(role){
                 $("#navbar").load("/navbar/" + role);
           }

      </script>

      <!-- <script>
        // $(document).ready(function(){
           $("#aba").click(function(e){
            e.preventDefault();
            $("#mainContainer").load("/views/branches.html");
            });
            $("#branchesLink").click(function(e){
                e.preventDefault();
                console.log("123456789999");
                $("#mainContainer").load("/views/branches.html");
            });
        // });
        </script> -->
        
</body>
</html> 
