<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <form action="/" method="POST">
        <label for="name">userName:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" value="Submit" id="submit">
    </form>


    <script>
        (function() {
  
              const submitBtn = document.querySelector('#submit');
  
              submitBtn.addEventListener('click', postData);
  
  
              function postData(e) {
                  e.preventDefault();
  
                  const name = document.querySelector('#name').value;
                  const email = document.querySelector('#email').value;
  
                  fetch('/', {
                      method: 'POST',
                      headers: {
                    'Content-Type': 'application/json'
                    },
                      body: JSON.stringify({name:name, email:email})
                  }).then(function (response) {
                     // console.log(response);
                      return response.json();
                  }).then(function(data) {
                      //console.log(data);
                      if(data){
                          sendAnotherFechToINDEX.Ejs
                          updateNavbar(data)
                      }else{
                          sendErrorMsg
                      }
                      // Success
                  });
  
              }
  
          })();



          function updatNavbar(role){
            $("#main").load("/dummy");
          }
  
    </script>

</body>
</html>