
  <table id="managersTable" >
    <tr>
       <th colspan = "2">managers</th>
   
    </tr>
    <tr>
       <th>employeeId</th>
       <th>rank</th>
    </tr>
    <tr>
       <td>20099</td>
       <td> 3</td>
    </tr>

 </table>