<h1>Who's the boss?</h1>
<div class="container data-table">
  <table id="managersTable" class="table table-striped">
      <tbody>
    <tr>
       <th colspan = "2">managers</th>
   
    </tr>
    <tr>
       <th>employeeId</th>
       <th>rank</th>
    </tr>
    <tr>
       <td>20099</td>
       <td> 3</td>
    </tr>
      </tbody>
 </table></div>