<div id="navbar">
    <h3>navbar was updated!</h3>
    <ul>
        <li><a href="">About</a></li>
        <li><a href="">Flowers</a></li>

        <li><a href="/../contact">Contact</a></li>
        
        <% if(role === "manager"){ %>
            <li><a id="branchesLink" href="">Branches</a></li>
        <% } %>
        <%if(role === "employee" | role ==="manager" ){ %>
            <li><a id="employeesLink" href="/../employees">Employees</a></li>
        <% } %>



        <% if(role){ %>
            <li><a  href="">Logout</a></li>

        <% }else{ %>
            <li><a  href="">Login</a></li>

        <% } %>
        


      </ul>
    </div>