<table id="suppliersTable" >
    <tr>
       <th colspan = "3">suppliers</th>
   
    </tr>
    <tr>
       <th>supplierId</th>
       <th>oweUs</th>
       <th>oweHim</th>
    </tr>
    <tr>
       <td>20099</td>
       <td> 3</td>
       <td>20099</td>
    </tr>

 </table>