<div>
    <nav class="navbar navbar-fixed-top" id="logo">
    <div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#" id="logo-text">
                <span>
                <img src="/images/nature.png" style="height: 40px; margin-top: -10px">
                </span>
                Tulip
            </a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-inverse">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="nav-menu">
            <li class="nav-item active">
                <a class="nav-link" href="#" >Catalogue<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Branches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse float-left" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button type="button" class="btn" data-toggle="modal" data-target="#myModal" id="modal-launcher">Login</button>
                <%- include ("login.ejs")%>
<!--                <a class="nav-link" href="views/partials/login.ejs" >Login<span class="sr-only">(current)</span></a>-->
            </li>
        </ul>
    </div>
</nav>
</div>