<div class="bg"></div>

<div id="navbar">
    <nav class="navbar navbar-fixed-top" id="logo">
    <div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#" id="logo-text">
                <span>
                <img src="/images/nature.png" style="height: 40px; margin-top: -10px">
                </span>
                Tulip
            </a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-inverse">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="nav-menu">

            <li class="nav-item ">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>

            <% if(role === "manager"){ %>
                <li class="nav-item">
                    <a class="nav-link" href="#branches">Branches</a>
                </li>
            <% } %>
            <%if(role === "employee" | role ==="manager" ){ %>
                <li class="nav-item">
                    <a class="nav-link" href="#users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#catalogue">Catalogue</a>
                </li>
            <% } %>
            
             



            </ul>
        </div>
        <% if(role === "employee" | role ==="manager" ){ %>
            <% console.log("some bodt is in!!"); %>
    <div class="collapse navbar-collapse float-left" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" class="btn btn-outline-light" href="#logout">Logout</a>
            </li>
        </ul></div>
        <% } %>
        <% if(role != "employee" && role !="manager" ){ %>
            <% console.log("no one is here!!!"); %>

                <div class="collapse navbar-collapse float-left" >
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#myModal" data-target=".bd-example-modal-sm" id="modal-launcher">Login</button>
<!--                            <button onclick="document.getElementById('id01').style.display='block'" type="button" class="btn btn-outline-light" style="width:auto;">Login</button>-->

                            <%- include ("login.ejs")%>
            <!--                <a class="nav-link" href="views/partials/login.ejs" >Login<span class="sr-only">(current)</span></a>-->
                        </li>
                    </ul>
                </div>

            <% } %>
            

</nav>
</div>
