<div class="card-body col-lg-4 col-sm-6 th" id="dtudent_card" style="padding: 1.25rem;
    border: 1px grey solid;
    margin:5px;
    width:auto">
    <h5 class="card-title"><%= student.name%></h5>
    <p class="card-text">From the house of <%=student.house%></p>
</div>