body {
    /* The image used */
    background-image: url("https://image.freepik.com/free-photo/top-view-white-daisy-flowers-petals-yellow-pollen-against-white-backdrop_23-2148076582.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    padding: 10px;
}

.navbar-inverse{
    background: #2c3e50;
}

.nav-link{
    color: white;
}

.data-table{
    padding-top: 20px;
}

#modal-launcher{
    color: white;
}

#logo-text{
    font-family: 'Pacifico', cursive;
    color: #2c3e50;
    font-size: 30px;
}
